/*

COLORES CORPORATIVOS

	.st0{fill:#078938;}
	.st1{fill:#020203;}
	.st2{fill:#4FB26F;}
	.st3{fill:#A8D4B5;}

*/



body{
    font-family: sans-serif;

}

.popup_abono{
    
    position: absolute;
    display: none;
    left:50%;
    opacity: 0;
    transform:translate(-50%,-50%) scale(1.25);
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    background-image: url(../images/abono/abono_tras.png);
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
                
    }

.popup_abono.active{
    display: block;
    top: 50%;
    opacity: 1;
    transform:translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    }


.popup_abono .close-btn{
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background:#078938;
    color:white;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}


.abono_datos{
    font-size: 15px;
    text-align: left;
    margin-top: 90px;
    margin-left: -15px;
    font-weight: bold;

    
}


