/*

COLORES CORPORATIVOS

	.st0{fill:#078938;}
	.st1{fill:#020203;}
	.st2{fill:#4FB26F;}
	.st3{fill:#A8D4B5;}

*/


h3{
    text-align: center;

}
.mapadiv{

position: absolute;
top: -100%;
left:50%;
opacity: 0;
transform:translate(-50%,-50%) scale(1.25);
width: 380px;
padding: 20px 30px;
background: #4FB26F;
box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
border-radius: 10px;
transition: top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms;
}






.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background:#4FB26F;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

}

.mapadiv .close-btn{
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background:#078938;
    color:white;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}


.mapadiv path{
    stroke: rgb(2, 33, 2);
    stroke-width: 3px;
    cursor: pointer;
    
}

.mapadiv.active{
    z-index: 1;
    
    top: 50%;
    opacity: 1;
    transform:translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    }

path .activo{
    fill:white;
}

*:focus{
    outline: none;
}

.mapadiv path:hover{
    fill: white;
}

.seleccionGrada p{
    color:black;
    width: 100%;
    padding: 15px 15px;
    border-left: 6px solid white;
}
/* tabla abonos */




table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: #4FB26F;}