/*

COLORES CORPORATIVOS

	.st0{fill:#078938;}
	.st1{fill:#020203;}
	.st2{fill:#4FB26F;}
	.st3{fill:#A8D4B5;}

*/

*{
font-family: sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}



nav{
height: 15%;
background-color: #013a17; ;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5em;
border-radius: 15px 15px 0px 0px ;


}

nav .logo{
    font-size: 33px;
    color: white;
    font-weight: 600;
}



nav ul{
    position: absolute;
    top: 15%;
    left: -500%;
    background: #013a17;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    height: 85%;
    border-radius: 0px 0px 15px 15px;

}

nav ul li{
    margin:7px 0px;
    bottom: 0;
    position: relative;
    list-style:none;
    padding: 3px;
}

nav ul li a{
    color: #4FB26F;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.5s ease;
    position:relative;
    text-align: center;
}

nav ul li a:hover,
nav ul li a.active{
    background: none;
    color:white;
}

nav .menu-btn i{
color: white;
font-size: 22px;
cursor: pointer;
display: block;
}

#click{
    display: none;
}

#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}

#click:checked ~ ul{
    left: 0%;
}






